%estilosArticle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 12px;
  margin-left: 0;
  border-top: none;
  background-color: #c6fdd0;
  border: 3px solid #054598;
}
%estilosArticle1 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 12px;
  margin-left: 0;
  border-top: none;
  border: 3px solid #054598;
}
%estiloDivh3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
%estiloTextoNot {
  text-align: center;
  font-size: large;
}
%estiloBoton {
  background-color: $colorDos;
}
